/* center aligned element */
.center {
    text-align: center;
}

/* this is for any subtext, as the default bottom spacing is a bit much */
.reduced-bottom-margins {
    margin-bottom: -20px;
}

/* website background setup */
body {
    background-color: #f1e8e6;
    color: #4d3b8a;
}

/* adjustments just for the bandmembers pic */
#bandmembers {
    width: 80%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* style only to italicize whatever needs to be italicized */
.italics {
    font-style: italic;
}

/* images have this weird thing where they will not auto resize down if you throw them in a table, so this tag will do just that if you pair it with a img */
.table-image {
    width: 100%;
}

/* this will ensure that the table takes up only the width of the website and distribute the columns out evenly */
table {
    width: 100%;
    table-layout: fixed;
}

/* this throws a padding into each cell of the table to make things look nicer and align all interior text to center */
td {
    padding: 10px;
    text-align: center;
}

/* bumping up the header 1 size by a crazy amount */
h1 {
    font-size: 100px;
}